body
{
    min-width: 30rem;
    width: 95%;
    background-color: gray;
    margin: auto;
    position: relative;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently not supported by any browser */
    -khtml-user-select: none;    /* KHTML browsers (e.g. Konqueror) */
}
nav
{
    display: grid;
    grid-template-columns: 100%;
    background-color: gray;
}
.row
{
    display: grid;
    grid-template-columns: 15% 85%;
}
.numinp
{
    display: grid;
    grid-template-columns: 50% 50%;
}
main
{
    display: grid;
    row-gap: 2rem;
}
#roles div
{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.25rem;
    box-sizing: border-box;
}
#roles input
{
    width: 100%;
    font-size: 1.25rem;
}
#roles
{
    /* margin-top: 2rem; */

    align-items: center;
    font-size: 1.25rem;
    display: grid;

    grid-template-columns: 1rem 45% auto;
    grid-auto-rows: 2rem;
}
input
{
    background-color: whitesmoke;
    font-size: 1.5rem;
    outline: none;
    box-sizing: border-box;
}
.unselectable div
{
    /* margin: 0.5px 0.5px 0.5px 0.5px; */
    padding: 1px;
    border: 0.5px dotted black;
    background-color: whitesmoke;
    font-size: 1.5rem;
    outline: none;
}
#cop
{
    display: none;
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 900;
    margin-top: 2rem;
}
#gtable
{
    /* margin-top: 2rem; */
    display: grid;
    font-size: 1.5rem;
    align-items: center;
    text-align: right;
    width: 100%;
    /* max-height: 30rem; */
}
.vert
{
    position: -webkit-sticky;
    position: sticky;
    top: -0.5px;
    writing-mode: vertical-rl;
    height: 100%;
    width: auto;
    text-align: end;
    font-weight: 900;
}
/* #nm
{
    height: 100%;
} */
#gtable div
{
    align-items: center;
    border: 0.5px dotted black;
    /* padding: 1px; */
    background-color: whitesmoke;
    font-size: 1.25rem;
    outline: none;
}
.cell
{
    cursor: pointer;
    font-weight: 900;
    color: gray;
}
.tabs
{
    display: grid;
    grid-template-columns: 50% 50%;
}
.tabs button
{
    cursor: pointer;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    outline: none;
}
#btn
{
    cursor: pointer; 
    padding: 0.5rem; 
    /* margin-top: 1rem;  */
    font-size: 1.5rem; 
    background-color: orange; 
    outline: none;
}
#btn
{
    margin-bottom: 2rem;
}

#card
{
    grid-template-rows: 90% auto;
    grid-template-columns: 100%;
    font-size: 10vh;
    display: grid;
    vertical-align: middle;
    cursor: pointer;
    align-content: center;
    text-align: center;
    /* background-color: whitesmoke; */
    background-color: black;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#control
{
    display: grid;
    grid-template-columns: 35% auto 35%;
}
#cardtext
{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    writing-mode: vertical-lr;
    /* width: auto; */
    color: white;
    text-align: center;
    /* height: 100%; */
}
#text
{
    height: 100%;
    /* width: 100%; */
}
#left, #right, #cur
{
    /* border: black solid 1rem; */
    margin: 1px;
    text-align: center;
    /* height: 100%; */
    background-color: gray;
    color: white;
}
@media only screen and (min-width: 800px) /* >800 (>768) */
{
    body
    {
        width: 50%;
    }
    /* main
    {
        grid-template-columns: 35% auto;
        column-gap: 10%;
    } */
    #text
    {
        height: auto;
        width: 100%;
    }
    #cardtext
    {
        writing-mode: horizontal-tb;
    }
 }