body
{
    min-width: 24rem;
    max-width: 50%;
    background-color: gray;
    margin: 4px;
    position: relative;
}
nav
{
    display: grid;
    background-color: gray;
}
.row
{
    display: grid;
    grid-template-columns: minmax(4rem, 15%) minmax(14rem, 85%);
}
.tabs button
{
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.5rem;
    outline: none;
}
main
{
    margin-top: 1rem;
    display: grid;
    /*grid-template-columns: minmax(16rem,30%) minmax(8.5rem, 30%);*/
}
#roles div
{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.25rem;
    box-sizing: border-box;
}
#roles input
{
    width: 100%;
    font-size: 1.25rem;
    box-sizing: border-box;
}
#roles
{
    align-items: center;
    font-size: 1.25rem;
    display: grid;
    

    grid-template-columns: 1rem 45% auto;
    grid-auto-rows: 2rem;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently not supported by any browser */
    -khtml-user-select: none;    /* KHTML browsers (e.g. Konqueror) */
}
#list
{
    display: grid;
    grid-template-rows: auto;
    max-height: 30rem;
    overflow: auto;
}
input
{
    background-color: whitesmoke;
    font-size: 1.5rem;
    outline: none;
}
.unselectable div
{
    /* margin: 0.5px 0.5px 0.5px 0.5px; */
    padding: 1px;
    border: 0.5px dotted black;
    background-color: whitesmoke;
    font-size: 1.5rem;
    outline: none;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently not supported by any browser */
    -khtml-user-select: none;    /* KHTML browsers (e.g. Konqueror) */
}
#cop
{
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 900;
    margin-top: 1.5rem;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently not supported by any browser */
    -khtml-user-select: none;    /* KHTML browsers (e.g. Konqueror) */
}
#gtable
{
    font-size: 1.5rem;
    align-items: center;
    text-align: right;
    width: 100%;
    max-height: 30rem;
    overflow: auto;
}
.vert
{
    writing-mode: vertical-rl;
    height: 100%;
    width: auto;
    text-align: end;
    font-weight: 900;
}
/* #nm
{
    height: 100%;
} */
#gtable div
{
    align-items: center;
    border: 0.5px dotted black;
    padding: 1px;
    background-color: whitesmoke;
    font-size: 1.5rem;
    outline: none;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently not supported by any browser */
    -khtml-user-select: none;    /* KHTML browsers (e.g. Konqueror) */
}
.cell
{
    cursor: pointer;
    font-weight: 900;
    color: gray;
}
.tabs
{
    display: grid;
    grid-template-columns: auto auto auto;
}
.numinp
{
    display: grid;
    grid-template-columns: minmax(12rem, 50%) minmax(12rem, 50%);
}